/* 
font-family: 'Marck Script', cursive;
font-family: 'Montserrat', sans-serif;
*/

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 62.5%;
  min-width: 250px;
  overflow-x: hidden;
}

a {
  color: currentColor;
  text-decoration: none;
  cursor: pointer;
}

p {
  font-size: 1.6rem;
}

section {
  padding: 5rem 0;
}

/* Header */
header {
  width: 100%;
  height: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.container {
  width: 100%;
  max-width: 98rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.nav-brand {
  width: 10rem;
}

.menu-icons {
  font-size: 2.3rem;
  cursor: pointer;
}

.menu-icons.open {
  color: #D8D7ED;
}

.nav-list {
  width: 25rem;
  height: 100vh;
  background-color: #D8D7ED;
  position: fixed;
  top: 0;
  right: -26rem;

  display: flex;
  flex-direction: column;
  justify-content: center;

  transition: all 400ms ease-in-out;
  z-index: 99;
}

.nav-list.active {
  right: 0;
}

.close {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
}

.nav-link {
  display: inline-block;
  width: 100%;
  padding: 3rem 0;
  padding-left: 8.3rem;
  font-size: 1.6rem;
  letter-spacing: 0.3rem;
  transition: all 300ms;
}

.nav-link:hover {
  background-color: rgba(72, 56, 149, 0.8);
  color: #D8D7ED;
}

/* Hero */
.hero {
  width: 100%;
  height: 80vh;
  background: linear-gradient(135deg, rgba(49, 24, 131, 0.9) 0%, rgba(72, 56, 149, 0.8) 100%), url('../img/edward-cisneros-3_h6-1NPDGw-unsplash.jpg') center no-repeat;
  background-size: cover;
  position: relative;
}

.hero::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 4.7rem;
  background: url('../img/wave-small.png') center no-repeat;
  background-size: cover;
}

.main-message {
  width: 100%;
  max-width: 50rem;
  color: #fafafa;
  transform: translateY(20%);
}

.main-message h3 {
  font-size: 1.6rem;
}

.main-message h1 {
  font-size: 4rem;
  font-family: 'Marck Script', cursive;
  margin: 1rem 0;
}

.btn {
  background-color: #EB648C;
  border-radius: 2rem;
  display: inline-block;
  padding: 1rem 2.5rem;
  margin-top: 2rem;
  text-transform: uppercase;
  transition: background-color 400ms;
  font-size: 1.4rem;
}

.btn:hover {
  background-color: #eb648dc9;
}


/* Experience the outdoors */
.experience-outdoors {
  padding: 0;
}

.title-heading {
  text-align: center;
  margin-bottom: 10rem;
}

.title-heading h3 {
  font-size: 1.6rem;
}

.title-heading h1 {
  font-family: 'Marck Script', cursive;
  font-size: 2rem;
  margin: 0.5rem 0 1rem 0;
}

.activities-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2.5rem;
}

.activities-grid-item {
  height: 40rem;
  padding: 5rem;
  color: #fafafa;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
}

.activities-grid-item::before {
  content: '';
  position: absolute;
  border-radius: 1rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(135deg, rgba(49, 24, 131, 0.9) 0%, rgba(72, 56, 149, 0.8) 100%);
  z-index: -1;
}

/* .star-gazing: background-image */
/* .hiking: background-image */
/* .camping: background-image */

.activities-grid-item span {
  font-size: 3rem;
}

.activities-grid-item h1 {
  font-family: 'Marck Script', cursive;
  font-size: 3rem;
  margin: 2rem 0;
}


/* Testimonials section */
.testimonials {
  width: 100%;
  height: 80vh;
  background: linear-gradient(135deg, rgba(49, 24, 131, 0.9) 0%, rgba(72, 56, 149, 0.8) 100%), url('../img/edward-cisneros-3_h6-1NPDGw-unsplash.jpg') center no-repeat fixed;
  background-size: cover;
  position: relative;
}

.testimonials::before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 100%;
  height: 4.7rem;
  background: url('../img/wave-small-reversed.png');
  background-size: cover;
}

.testimonial {
  width: 100%;
  color: #fafafa;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.testimonial-textbox {
  padding: 0 1.5rem;
  margin-bottom: 2rem;
  position: relative;
}

.testimonial-textbox span {
  position: absolute;
  top: -8rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3rem;
  color: #EB648C;
  opacity: .5;
  z-index: -1;
}

.testimonial-customer img {
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  border: 3px solid #EB648C;
}

/* Begin adventures */
.adventure-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2.5rem;
  margin-bottom: 2rem;
}

footer {
  padding: 2.5rem 0;
  background-color: rgba(49, 24, 131, 0.9);
  color: #fafafa;
  text-align: center;
}

.book-btn {
  text-align: center;
}


/* Media queries */
@media screen and (max-width: 350px) {
  .nav-brand {
    width: 5rem;
  }

  .title-heading {
    margin-bottom: 5rem;
  }

  footer p {
    font-size: 1.3rem;
  }

  .testimonial {
    margin-top: 5rem;
  }
}

@media screen and (min-width: 351px) {
  .main-message {
    transform: translateY(40%);
  }
}

@media screen and (min-width: 470px) {
  .hero::before {
    height: 9.4rem;
    background-image: url('../img/wave-medium.png');
  }

  .testimonials::before {
    height: 9.4rem;
    background-image: url('../img/wave-medium-reversed.png');
  }
}

@media screen and (min-width: 768px) {
  .main-message {
    transform: translateY(60%);
  }

  .testimonial {
    margin-top: 10rem;
  }
}

@media screen and (min-width: 840px) {
  .nav-list {
    width: initial;
    height: initial;
    background-color: transparent;
    position: initial;
    top: initial;
    right: initial;
    flex-direction: row;
    transition: initial;
  }

  .menu-icons {
    display: none;
  }

  .nav-link,
  .current {
    padding: 3rem;
    color: #fafafa;
    font-size: 1.3rem;
  }

  .nav-link:hover {
    background-color: #D8D7ED;
    color: #333;
  }

  .hero {
    height: 60vh;
  }

  .main-message {
    transform: translateY(60%);
  }

  .title-heading h1 {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 950px) {
  .hero::before {
    height: 22.7rem;
    background-image: url('../img/wave-large.png');
  }

  .testimonials::before {
    height: 22.7rem;
    background-image: url('../img/wave-large-reversed.png');
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 75vh;
  }
}